body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .App { 
  margin: 0;
  background-color: #F5F7FB;
  width: 60%;
  height: 60%;
  top: 50%;
} */

.App { 
width: 650px;
height: 650px;
background-color: #F5F7FB;
padding-top: 25px;
}

.starter-container { 
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  /* width: 300px; */
  /* margin-top: 100px; */
  color: #293264;
  font-family: Karla;
  font-size: 15px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;

}

.starter-button { 
  width: 180px;
  height: 52px;
  border-radius: 15px;
  border: 1px solid #000000;
  background-color: #4D5B9E;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.answers-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: row; */
  gap: 12px;
}

.answer-button { 
  border-radius: 7.94239px;
  background-color: transparent;
  border: .5px #4D5B9E;;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 4px 6px;
}

.questions { 
  margin-left: 50px;
  margin-right: 50px;
  color: #293264;
  flex-wrap: wrap;
  font-family: Karla;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}


.horizontal-line { 
  margin-top: 15px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: 0.794239px solid #DBDEF0;
}

.check-answer-container{ 
  margin-top: 30px;
}

.check-answer { 
  margin: 0 auto; /*not sure why but I need this margin: 0 auto to get this to center properly */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #4D5B9E;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.complete-container{ 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.complete-score { 
  margin: 1 auto; /*not sure why but I need this margin: 0 auto to get it to center.  After this the two objects were pushed to the margins.  I changed to 1 auto and they fit in the middle*/
}


.complete-answer{ 
  margin: 1 auto; /*after changing to 1 auto, I can use gap to separate the two elements */ 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #4D5B9E;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

